<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imagepickerexp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A46BF95B1CC0FCB30008114C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A46BF96F1CC0FCB40008114C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A46BF97A1CC0FCB40008114C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
